.ayahStyle {
  font-family: "p208-v1";
  display: inline-block;
  text-align: right;
}
.ayah-area {
  border-bottom: 1px solid #ddd;
  margin: 10px;
}
a {
  color: #fff;
  text-decoration: none;
  background-color: transparent;
}
a:hover {
  color: #fff;
  text-decoration: none;
}
